/* Color pallette 
#f2f9f1
#ddeedf
#b6cdbd
#5c715e


Additional color options
#062925
#044a42
#3e9188
#b8e1dd
*/

.team-heading {
    background-color: #044a42;
    color: #b8e1dd;
  }
  
  .team-card {
    max-width: 500px;
    margin: 5px auto;
    flex-wrap: wrap;
  }
  
  .employee-card {
    margin: 20px;
    padding: 5px;
    max-width: 500px;
    width: 75%;
    min-height: 200px;
    background-color: #044a42;
    color: #b8e1dd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 3px 3px 10px #062906;
    border: none;
    border-radius: 5%;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b6cdbd;
    border-radius: 10px;
  }
  
  .list-group-item {
    color: #5c715e;    
}